<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>



    <nav>
        <span><a title="Hall" href="/">Hall</a></span>
        <% if (user) { %>
        <span><a title="Post" href="/post">Post</a></span>
        <span><a title="Logout" href="/logout">Logout</a></span>
        <% } else { %>
        <span><a title="Login" href="/login">Login</a></span>
        <span><a title="Register" href="/reg">Register</a></span>
        <% } %>
    </nav>


<div id="main_content">
<header>
    <h1><%= title %></h1>
</header>

<article>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
<% } %>