<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">YOU & ME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/search" method="GET" role="search">
                <div class="form-group">
                    <input type="text" name="keyword"  placeholder="SEARCH"  class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li><a title="Logout" href="/logout">Logout</a></li>
                <% } else { %>
                <li><a id="login_lnk" title="Login" href="#">Login</a></li>
                <li><a id="reg_lnk" title="Register" href="#">Register</a></li>
                <% } %>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <nav id="left_nav">
        <span><a title="Hall" href="/">Hall</a></span>
        <span><a title="Archive" href="/archive">archive</a></span>
        <span><a title="Tags" href="/tags">tags</a></span>
        <% if (user) { %>
        <span><a title="Post" href="/post">Post</a></span>
        <% } else { %>
        <% } %>

    </nav>


<div id="main_content">
<header>
    <h1><%= title %></h1>
</header>

<article>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
<% } %>