<br />
<div>
    <% if (!isFirstPage) { %>
    <span class="prepage"><a title="Prev" href="?p=<%= page-1 %>">Prev</a></span>
    <% } %>

    <% if (!isLastPage) { %>
    <span class="nextpage"><a title="Next" href="?p=<%= page+1 %>">Next</a></span>
    <% } %>
</div>