<%- include header %>
<form role="form" method="post">
    <div class="form-group">
        <label for="title_post" c>Title</label>


        <input type="text" class="form-control" name="title" id="title_post">

    </div>
    <div class="form-group">
        <label for="tag1_post">Tags</label>


        <input type="text" class="form-control tag-input" name="tag1" id="tag1_post">
        <input type="text" class="form-control tag-input" name="tag2" id="tag2_post">
        <input type="text" class="form-control tag-input" name="tag3" id="tag3_post">

    </div>
    <div class="form-group">
        <label for="content_post">Content</label>
        <textarea class="form-control" name="post" id="content_post" rows="20" cols="100"></textarea>
    </div>
    <button type="submit" value="Post" class="btn btn-primary common-submit-btn">Post</button>


    <!--Title：<br />-->
    <!--<input type="text" name="title" /><br />-->
    <!--Tags：<br />-->
    <!--<input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />-->
    <!--Content：<br />-->
    <!--<textarea name="post" rows="20" cols="100"></textarea><br />-->
    <!--<button type="submit" value="Post" />-->
</form>
<%- include footer %>